[2015-07-02 17:05] mjkaufer opened #1 "Error"
[code]

Seems to be triggered after a certain amount of time. Maybe a memory leak?

[2015-07-03 21:50] 2016rshah opened #2 "Group chats"
Add support for messaging group chats!

(@ 3 rpm)

[2015-07-03 22:14] mjkaufer commented on #2
Tru

[2015-07-07 19:29] mjkaufer opened #3 "Not working"
Messer is not working right now due to an error in one of its dependencies - `facebook-chat-api`. The issue has been fixed [here](https://github.com/Schmavery/facebook-chat-api/issues/30), but we have to wait for the new package module to be pushed to npm for Messer to be able to use it (see [this](https://github.com/Schmavery/facebook-chat-api/issues/34) issue)

[2015-07-09 06:18] Schmavery commented on #3
Hopefully this is fixed now! :)

[2015-07-09 14:07] mjkaufer commented on #3
`facebook-chat-api` is fixed for sure, but I'm getting the same message when I run `messer`. I've updated the dependency version and uninstalled `messer@0.1.1`, but I still get that error. However, when I manually run `index.js` with `node`, I don't get the error. Hmmmmm.

[2015-07-11 03:06] bsansouci commented on #1
We're running a [bot](https://github.com/bsansouci/marc-zuckerbot) on a heroku server 24/7 and we never had this error :/

[2015-07-11 03:31] mjkaufer commented on #1
¯\_(ツ)_/¯

[2015-07-14 17:39] mjkaufer commented on #3
Just kidding, this was caused by a poor npm environment I had set up.

[2015-07-14 17:39] #3 closed

[2015-07-20 19:16] mjkaufer opened #4 "Reply Functionality"
`reply [message]` to reply to the last message received - a step towards being able to use group chats

[2015-07-30 16:16] n1889 opened #5 "Enabling 2FA does not allow you to log in"
When two factor auth is enabled (code generator in app) the client becomes unusable with the following error.

[code]

[2015-07-30 17:43] mjkaufer commented on #5
@n1889 This is a problem with the unofficial FB Messenger API Messer is using - [facebook-chat-api](https://github.com/Schmavery/facebook-chat-api). I would raise this issue in their repository, as I think they would know more about it.

At a cursory glance, it looks like `facebook-chat-api` has 2FA on their roadmap, but haven't implemented it yet. Check out https://github.com/Schmavery/facebook-c

[2015-07-30 17:43] #5 closed

[2015-07-30 21:33] bsansouci commented on #5
Yup yup we're working on it, v1.0 should roll out in a couple of days.

[2015-07-30 22:17] mjkaufer commented on #5
Thanks! :heart:

[2015-08-19 13:43] yanelev opened #6 "Always getting the help syntax error"
I follow your steps but I keep getting :

Invalid command - check your syntax
Commands:
 message "[user]" [message]
 reply [message]

I user message and reply both the same. Although I am getting incoming messages.

[2015-08-19 16:56] mjkaufer commented on #6
Hey @yanlev,

My friend was getting a similar problem - for some reason, his CLI was adding a hidden parentheses to the input or something, which was messing stuff up. I'll try and write a fix this evening, if everything goes well.

[2015-08-20 17:00] yanelev commented on #6
Ok thanks I will wait

[2015-08-20 19:12] mjkaufer commented on #6
@jeon97

[2015-08-26 14:13] Karlheinzniebuhr commented on #5
still having this issue

[2015-09-10 17:00] yanelev commented on #6
Is there anyone who can answer my question?

[2015-11-19 14:39] sebastianthomas opened #7 "TypeError: undefined is not a function"
Just installed, first attempt to message.

[code]

Love the idea, let me know if I can help! Draw you a nice picture or something..

[2015-11-19 15:10] plonko opened #8 "TypeError: undefined is not a function"
Hullo, I installed NVM and updated Node to 4.2.2 because I saw a warning when I was installing that Messer expected it. Now I get this error when trying to message.

[code]

[2015-11-25 15:58] yanelev opened #9 "Is there a way to add insert to a DB in this code"
Is there a way to add insert to a DB in this code

[2015-11-29 05:30] mjkaufer commented on #9
What do you mean?

[2015-11-29 05:31] mjkaufer commented on #8
Whoops - looks like `sendDirectMessage` is not a function anymore in https://github.com/Schmavery/facebook-chat-api

Not sure if you want to fix this, but I might look at it once I get done with other stuff

[2015-11-29 05:32] #7 closed

[2016-01-26 21:07] Schmavery commented on #8
Guess we can close this now :)

[2016-01-26 21:37] mjkaufer commented on #8
Closed - now implementing new `facebook-chat-api` method - thanks @Schmavery

[2016-01-26 21:37] #8 closed

[2016-02-25 02:06] mairod opened #11 "env: node\r: No such file or directory"
After installing messer, I can't run the command "messer", I get the following error :

"env: node\r: No such file or directory"

I'm on OSX, am I the first to get this ? :/

[2016-04-14 19:24] zg commented on #11
It's because the file format is `dos`.

The way I fixed this was by opening the messer program in vim (`vim /usr/local/bin/messer`) and then typing `:set ff=unix`. Hit enter and then type `:wq`. Now you should be able to run `messer config.json`.

[2016-04-26 22:30] mairod commented on #11
Thank you very much, it worked pretty good !

[2016-04-26 22:30] #11 closed

[2016-08-08 21:47] schutzsmith commented on #5
I'm having the same problem. Always failing to login because of 2fa

[2016-09-26 15:17] vincelwt opened #12 "Can't start Messer: ": No such file or directory""
Hi!
When I try to run messer, I have the following error.
I installed it via sudo npm install -g messer

[code]

[2016-10-19 09:09] phra opened #13 "messer is failing to run"
hi,
i've just installed messer globally via npm but when i try to launch it it crashes with this error:

`[Wed19:Oct:16 11:13:49] phra@kali ~ $ messer`
`/usr/bin/env: ‘node\r’: No such file or directory`

[2016-10-20 23:26] tomquirk opened #15 "Autocomplete for commands"
Latest version of node (v6.9.1) allows for a `completer` option in REPL. Would be nice to autocomplete commands (and possibly friends for messaging) in the future. I've started working on this in my fork, just depends on whether there's a consensus on upgrading versions.

[2016-11-08 20:37] tomquirk commented on #12
@vincelwt should be fixed as of `bcdbf40` 💃

[2016-11-08 20:37] tomquirk commented on #13
@phra should be fixed as of `bcdbf40` 💃

[2016-11-08 22:05] wesmcouch commented on #13
The new version isn't published yet, but if you want to get it to work with the current version install dos2unix with:
`brew install dos2unix`
then run the command on index.js of wherever messer is installed
`dos2unix index.js`

[2016-11-08 22:24] mjkaufer commented on #13
@phra I just published the new version to npm so give it another try now!

[2016-11-09 12:48] phra commented on #13
@mjkaufer yeah, now it works.

[2016-11-09 12:48] #13 closed

[2016-11-11 13:42] vincelwt commented on #12
Thanks!

[2016-11-11 13:42] #12 closed

[2016-11-15 19:21] joech4n opened #16 "2FA?"
Does this app support Facebook's 2FA?

I'm seeing the following:

    $ messer config.json
    info Logging in...
    ERR! Error in login: login-approval
    { error: 'login-approval', continue: [Function: continue] }

[2016-11-15 20:07] mjkaufer commented on #16
Theoretically, it's possible with the API we're using, but it hasn't been implemented yet. Relevant docs are [here](https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#login)

[2016-12-04 23:29] tomquirk opened #17 "ES6"
Might be time to move to ES6. Happy to do it if consensus is reached :)

[2016-12-05 03:37] mjkaufer commented on #17
I think we already use a version of node that supports ES6 so, if you want to port it, go ahead.

Thanks!

[2016-12-05 03:46] tomquirk commented on #17
Yea rad, just thought I'd check heh 👍

[2016-12-07 11:20] dreszczyk opened #19 "Proxy settings"
Is there any proxy setting to set up? I'm behind corporate firewall and I can't log in.

[2016-12-25 16:55] DobaKung opened #20 "Doesn't work with two-factor authentication"
![screen shot 2559-12-25 at 11 55 21 pm](https://cloud.githubusercontent.com/assets/3814520/21472131/a27a4c68-cafd-11e6-839f-9ccfedd6d9ea.png)

[2016-12-26 20:42] tomquirk commented on #20
Hey @DobaKung, as discussed in #16, the support in the API is there, just not implemented in Messer as of yet.

[2017-03-10 22:19] tomquirk commented on #6
@yanelev still having issues?

[2017-03-10 23:39] #17 closed

[2017-03-10 23:39] tomquirk commented on #1
Old issue, closing

[2017-03-10 23:39] #1 closed

[2017-03-15 13:12] chauchinyiu commented on #2
still not yet implemented?

[2017-03-16 00:36] tomquirk commented on #2
Messages from group chats will come through, but there's no way to distinguish them. Can't send a message to a group either...Pretty sure the data's there tho

[2017-03-16 02:11] mjkaufer commented on #2
I'm pretty sure the "reply" mechanic works for groups but I think that's it.

[2017-03-16 03:11] tomquirk commented on #20
Closing, duplicate of #16

[2017-03-16 03:11] #20 closed

[2017-03-18 05:59] tomquirk commented on #4
Reply's been in for a while, closing ticket. Group chat-related stuff in #2

[2017-03-18 05:59] #4 closed

[2017-03-20 00:38] tomquirk opened #22 "Catch and display facebook-chat-api errors appropriately"
I get random errors related to a bunch of things (network, auth, etc.) from the `facebook-chat-api`. There should be custom logging set up for these so the stack trace doesn't blow out the terminal window.

[2017-03-21 14:50] coreice commented on #16
I guess 2FA can be avoided via app-specific passwords, but it seems this is not working?

[2017-04-16 12:40] lamons commented on #6
I got syntax error when using the short command e.g. `m "[user]" [message]`. but it works fine using the complete command.

[2017-04-17 02:05] tomquirk commented on #6
hey @lamons can you give us a specific example of the command you used?

[2017-04-17 02:12] lamons commented on #6
Hi, for example when I use `m "anna" hello` or 'r yes' I got error
message `Invalid command - check your syntax` but when I use `message`
and `reply` instead of `m` and `r` the message went correctly.

On Sun, Apr 16, 2017 at 07:05:59PM -0700, Tom Quirk wrote:

[2017-04-17 23:14] tomquirk commented on #6
ah, @mjkaufer think the npm repo isn't up to date. @lamons until its updated, clone this project directly and you should be able to use shortcuts 😄

[2017-04-17 23:28] lamons commented on #6
Ah I see... Thanks!

On Tue, Apr 18, 2017 at 0:14, Tom Quirk <notifications@github.com> wrote:
ah, @mjkaufer [https://github.com/mjkaufer] think the npm repo isn't up to date. @lamons [https://github.com/lamons] until its updated, clone this project directly and you should be able to use shortcuts 😄

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2017-04-21 15:43] tristan2468 opened #23 "Autoresponder?"
I would love for this to be capable of automatically responding to incoming messages.

[2017-04-21 22:12] tomquirk commented on #23
I like it 👍 Could specify it per-person aswell

[2017-04-21 22:14] tomquirk commented on #6
@mjkaufer once we update npm this ticket can be closed 😃

[2017-04-21 22:14] #9 closed

[2017-04-21 22:15] tomquirk commented on #9
Closing due to no followup

[2017-04-21 22:17] tomquirk commented on #19
There isn't, however, it wouldn't be hard to write your own proxy with something like [this](https://github.com/nodejitsu/node-http-proxy).

[2017-04-21 22:44] mjkaufer commented on #6
Pushed the new stuff to npm - lemme know if it works <3

[2017-04-22 21:02] lamons commented on #6
Still got same errors - the version number is 0.1.12
On Fri, Apr 21, 2017 at 03:44:41PM -0700, Matthew Kaufer wrote:

[2017-04-22 21:41] tomquirk commented on #6
I just installed via npm, all good for me. Check your node version - I don't have time to test them atm but I'm running v7.9.0, I have a feeling LTS will be fine though.

[2017-04-22 21:54] lamons commented on #6
Ah it works.. was a stupid mistake, the program works well. Thanks!
On Sat, Apr 22, 2017 at 02:41:21PM -0700, Tom Quirk wrote:

[2017-04-22 22:16] tomquirk commented on #6
Awesome! 🌮

[2017-04-22 22:16] #6 closed

[2017-05-15 15:18] tristan2468 commented on #23
For now I have done this by hard-coding the message I want, and adding a call to reply in the receive method.

[2017-06-12 15:35] MichaelRupertDev opened #24 "Error upon receiving some messages"
When i received a "wave" from a new friend, he following error was presented.

```[TypeError: Cannot read property 'fullName' of undefined]```

I've gotten it before from thumbs up, I believe.

[2017-06-13 00:17] tomquirk commented on #24
I may have fixed it in [this commit](https://github.com/mjkaufer/Messer/commit/1b3a3c2f6e42441399c2c04eeb61bd283069e9fc).

I don't think the `facebook-chat-api` is consistent with names for things 🤔. I'll test it later when I can be bothered to make a fake fb account 😄

[2017-06-13 00:21] tomquirk opened #25 "Messer Logo"
Let's get a dank logo

[2017-06-13 00:26] tomquirk opened #26 "As a user, when I 'see' a message, conversation participants should know that I've seen it"
Need to mark the message as 'seen' somehow (maybe on type?)

[2017-06-17 10:49] tomquirk commented on #25
![messer-logo](https://user-images.githubusercontent.com/12551741/27252310-6655f4f6-539e-11e7-978b-c8eaba02ba68.png)

[2017-06-17 10:55] tomquirk commented on #25
Closing for now. Feel free to open if you've got better ideas

[2017-06-17 10:55] #25 closed

[2017-06-20 01:31] tomquirk opened #27 "Modularize Codebase"
Our codebase is a single file! Let's modularize it. Open for discussion

[2017-06-21 20:54] mjkaufer commented on #25
Hey @tomquirk just wanna say the logo looks dope

[2017-06-21 21:44] tomquirk commented on #25
Ay cheers dude 🎉

[2017-06-24 14:29] bzyg7b commented on #16
not working for me either

[2017-06-26 06:01] fbukevin opened #28 "Can't continue if typed invalid command and message sent"
**If I typed invalid command**
[code]

**after message sent**
[code]

I need to use `ctrl + c` to continue operation.

[2017-06-26 06:04] fbukevin opened #29 "Cannot send message to oneself"
This might not necessary but this operation is work in Facebook Messenger.

I can find myself(my Facebook account name is "Veck Hsiao") and send a message to myself. This seems not work in Messer.

[code]

[2017-06-26 08:30] Smile4ever commented on #29
Confirmed, this does not work.

[2017-06-27 11:13] coreice commented on #16
Is there any sight on a fix for this problem?

[2017-06-29 04:23] tomquirk commented on #16
Sure thing, but I won't have time for at least another month. Will get onto it asap though :)

[2017-07-25 06:40] tomquirk commented on #27
See branch `refactor` for major refactor

[2017-07-26 03:23] mjkaufer commented on #29
Correct - I figured it wouldn't be a very common use case, but if we were to add the `selfListen` key and set it to `true` on line 280, you'd be able to do so.

[2017-07-26 06:35] tomquirk commented on #29
For the meantime, I've added a function `getUserByID` which first checks if the given ID is that of the current user (see [here](https://github.com/mjkaufer/Messer/blob/refactor/helpers.js#L55)). Defs open for critique.

[2017-07-27 00:21] Natfan commented on #16
Bump? :)

[2017-07-27 03:40] tomquirk commented on #16
Made an attempt [here](https://github.com/tomquirk/Messer/commit/da6c5f97852248032007eb7bb27d3cc6fb5759ad)...it didn't work for me, Facebook didn't want to trust me (persistently). Would be awesome if you guys could test @joech4n @coreice @Natfan. Help wanted!

[2017-07-28 03:52] tomquirk opened #31 "Colors"
For better UX, some colors should be incorporated in the REPL log. At a minimum, there should be different colors per chat for easier scanning. Perhaps also the ability to set color per chat, or even get the 'real' color (as it was set in the app or the website) if available.

[2017-07-28 03:54] tomquirk commented on #24
Closing for now - if you feel this issue hasn't been resolved, please create a _new_ ticket, referencing this one (#24)

[2017-07-28 03:54] #24 closed

[2017-07-28 03:59] mjkaufer commented on #31
`facebook-chat-api` has a method [getThreadInfo](https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#getThreadInfo) that could accomplish this - combined with [chalk](https://www.npmjs.com/package/chalk), this would probably be easy enough to get working

[2017-07-28 04:12] tomquirk commented on #31
sweeeeet, sounds 👌

[2017-07-28 22:53] coreice commented on #16
@tomquirk Thanks for picking this up. I tried to log in with a freshly generated app-specific password but it failed:

[code]

[2017-07-31 09:43] tomquirk commented on #16
That is indeed the one/s. I tried with `forceLogin` as well to no avail. I'm hoping this is a problem with the API - would be good if someone could confirm this (I will soon enough)

[2017-08-07 01:14] tomquirk opened #32 "`contacts` command displays all active thread names, not friends"
data for `contacts` command is not representative of the user's actual friends. Names that appear upon calling this command may not be friends of the user; this is misleading.

The main reason this exists is to reduce calls to the API when sending messages (m "Elon Musk" suh dude). There should be 2 sources of "names" - a `friends` array and an `activeThreadNames` (or similar) array.

[2017-08-14 13:08] tomquirk opened #33 "Refactor - code review and testing"
It's about time for some code review! @mjkaufer @2016rshah `@anyone else`

I've put at least a little bit of thought as to better architecture for the project going forward but would definitely like some more opinions. Especially towards:

- whether functions in the `helpers` file should be part of the Messer prototypes (I'm starting to think yes)
- caching data structures (I'm sure there are more

[2017-08-16 22:51] tomquirk opened #34 "As a user I want to be able to reveal my `n` most recent threads"
I find myself wanting to see who I've most recently got a message from a lot.

Facebook chat API has a method [getThreadList](https://github.com/Schmavery/facebook-chat-api/blob/master/DOCS.md#apigetthreadliststart-end-type-callback) which will make implementation easy.

It should also tell me if the message is read or not

[2017-09-17 02:25] jwpaine commented on #33
Would love to contribute to such a project! For refactoring, what about splitting index.js into two files, one facebook.js to abstract away the complexity of the API with exported functions, and another, interface.js, receiving callbacks, interfacing with the API, and taking user input? great stuff thus far!

[2017-09-17 04:11] tomquirk commented on #33
@jwpaine - great suggestions. If you haven't already take a look at the [refactor](https://github.com/mjkaufer/Messer/tree/refactor) branch.

We could certainly abstract some of the API away, however, I'd like to hear/see your thoughts on what exactly that would entail. I don't feel the API is so complex as to warrant it for the project at this stage and I'm not sure how much value would be added

[2017-10-09 13:56] jlejoux opened #35 "Support facebook 2factor auth"
It would be nice to support facebook's 2 factor authentification.

It currently results to this:

[code]

[2017-10-10 04:51] tomquirk commented on #35
Hey @jlejoux ,

You're too right! We need this. See #16 for more

[2017-10-10 04:51] #35 closed

[2017-10-10 11:17] trappekoen opened #36 "Add Color to text produced by Program (Such a new message from)"
When you receive a message from someone mid-conversation with someone else, or mid-typing, it gets really confusing. May I suggest simply adding color to new message (and possibly other) statements?

This can be done simply like this (for cyan blue):

console.log('\x1b[36m%s\x1b[0m', 'I am cyan');  //cyan

[2017-10-10 11:24] tomquirk commented on #36
hey @trappekoen ,

I've implemented this to some extent in the `refactor` branch. Currently, it will set the color to the color of the conversation on Facebook, but I'm open to making it random.

Check #31 for more

[2017-10-10 11:24] #36 closed

[2017-10-11 03:30] tomquirk commented on #16
Okey-dokey folks.

Using Messer with a 2FA-enabled Facebook account is now possible! (kinda). Take a look at the `refactor` branch and consult the README for a guide.

[2017-10-16 11:02] TKasperczyk opened #38 "Send images as attachments"
It would be nice if we could send images in chat by typing a path to an image file. It's possible with facebook-chat-api:

[code]

[2017-10-16 11:20] tomquirk commented on #38
Love it. Let's hold off on this until refactor or is merged 😀

[2017-10-31 23:18] forcemagic commented on #16
It was in the API, I fixed it yesterday. :smiley: It should work now.

[2017-11-01 00:29] tomquirk commented on #16
yeessss @forcemagic !!!, Just saw that ticket closed. Will sort this out in the near future

[2017-11-01 07:21] #32 closed

[2017-11-01 07:21] #29 closed

[2017-11-01 07:21] #27 closed

[2017-11-01 07:21] #22 closed

[2017-11-01 07:22] #28 closed

[2017-11-01 07:22] tomquirk commented on #28
should be fixed now @fbukevin

[2017-11-01 07:22] tomquirk commented on #33
v0.2 is out!

[2017-11-01 07:22] #33 closed

[2017-11-01 07:23] tomquirk commented on #38
v0.2 is out! feel free to submit pr's for this

[2017-11-01 07:24] tomquirk commented on #31
gonna call this done for now. There's still more we could do around colors, but the basic functionality is in place

[2017-11-01 07:24] #31 closed

[2017-11-01 07:26] tomquirk commented on #2
Messer now supports group chats to a usable extent. There's still more we could do around it, but will close this now.

[2017-11-01 07:26] #2 closed

[2017-11-09 14:08] chauchinyiu opened #39 "bug in the new version"
when i run messer, i got the following bug
messer ~/.config/config.json
/usr/local/lib/node_modules/messer/src/command-handlers.js:125
      )
      ^
SyntaxError: Unexpected token )
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:513:28)
    at Object.Module._extensions..js (module.js:550:10)
    at Module.load (module.js:458:32)
    at tryModuleLoad (module

[2017-11-09 21:16] tomquirk commented on #39
hey @chauchinyiu , can we get the version of Node you're running?

[2017-11-17 00:21] steamfire commented on #39
Similar error, installing today using Node@v9.2.0 npm@5.5.1:

macbookpro3:~ steamfire$ messer
undefined:1
undefined
^

SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at ReadFileContext.fs.readFile [as callback] (/Users/steamfire/.npm-global/lib/node_modules/messer/src/helpers.js:50:39)
    at FSReqWrap.readFileAfterOpen [as oncomplete] (fs.js:437:13)

[2017-11-17 00:28] tomquirk commented on #39
Thanks @steamfire, I'll look into that today

[2017-11-23 00:58] tomquirk commented on #39
I'm on holidays rn, perhaps some else can look at fixing. It looks like there's a bug in the read file code for reading a credentials file

[2017-11-28 08:17] yutchor opened #40 "Get "SyntaxError""

[2017-11-28 14:43] johnwarmour commented on #40
I think this is a duplicate of #39

[2017-11-29 04:20] yutchor commented on #40
@johnwarmour I am so sorry, Should I close this?

[2017-11-29 04:59] johnwarmour commented on #40
Haha, no need to be sorry, just a bit of bookkeeping. I’d say probably close this issue and just append any additional details you may have to #39.

[2017-11-29 09:02] #40 closed

[2017-12-08 01:54] tomquirk commented on #39
fixed! thanks @billcccheng

[2017-12-08 01:54] #39 closed

[2017-12-08 02:50] #16 closed

[2017-12-08 02:58] tomquirk commented on #16
Sorted now 👍 @mjkaufer reckon you can add me to the Messer npm list so I can publish? (or, can you publish latest?)

[2017-12-08 03:08] mjkaufer commented on #16
I'll try to have it published and have you added to npm by the weekend -
hmu with your npm name.

Thanks for looking over all of this!

On Dec 7, 2017 9:58 PM, "Tom Quirk" <notifications@github.com> wrote:

[2017-12-08 03:30] tomquirk commented on #16
tomquirk pretty sure 🌮

[2017-12-11 06:11] PandawanFr opened #44 "Unexpected token u in JSON at position 0"
Hey, when I try to use messer (clean install), it appears that I am unable to use/create a config.json file.

I just installed it with `npm install -g messer` and then ran `messer` and got this error
[code]
and when I checked in the code, it appeared that it was unable to create a config.json file.

I don't know if it's an error on my part or the code has a problem.

Btw, I'm using node `8.9.2` an

[2017-12-11 06:27] mjkaufer commented on #16
@tomquirk just pushed new version & added you to npm

[2017-12-11 08:43] tomquirk commented on #44
yep, issue has been fixed but not yet released on npm. For the meantime, reference this repo directly 😄

On that note, I'll create a new label "ready for release" (or similar) so that issues that are "done" but not released to npm can be identified.

@mjkaufer when you get a chance, could you do the npm things? 😸

[2017-12-12 19:14] riley-martine opened #45 "TypeError: Object.values is not a function"
I installed messer with `sudo npm install -g messer`

I logged in, using 2fa, and typed `contacts`.

This gave me the error:
`TypeError: Object.values is not a function
    at Promise (/usr/lib/node_modules/messer/src/command-handlers.js:119:34)
    at Messer.contacts (/usr/lib/node_modules/messer/src/command-handlers.js:118:12)
    at Messer.processCommand (/usr/lib/node_modules/messer/index.js:1

[2017-12-12 20:52] tomquirk commented on #45
I'm gonna guess you're on an old version of npm. If you're okay to update it is recommended doing so.

I'll determine what the lowest compatible npm version is and update the docs and possibly add a warning in code

[2017-12-12 22:07] riley-martine commented on #45
I updated to 5.6.0, but am still getting the error.

[2017-12-14 20:29] davoodharun commented on #45
I ran into this too with:
node: v.6.11.5
npm: 3.10.10

I upgrade to:
node: v8.9.3
npm: 5.5.1
and it worked.

Looks like Object.values is a relatively new feature in node and only stable in versions >7. I would try upgrading your node version.

[2017-12-14 20:46] mjkaufer commented on #45
I'll try to implement a fix that doesn't require such a bleeding edge version of node

[2017-12-14 21:03] mjkaufer commented on #45
I think I resolved this - try pulling version `0.2.2` npm and let me know if it still doesn't work, and I'll re-open the issue

[2017-12-14 21:06] mjkaufer opened #47 "History Functionality Broken"
When using the history command I get something like this...

[code]

I'm pretty sure it's an issue with the facebook-chat-api dependency – I'm gonna leave an issue over there and see if they know what's up

[2017-12-14 21:13] mjkaufer commented on #47
Update: Lots of people have the same problem and recommend using the `getThreadHistoryGraphQL` method instead, as per https://github.com/Schmavery/facebook-chat-api/issues/561

[2017-12-14 22:19] tomquirk commented on #47
Lgtm 😀

[2017-12-18 15:07] riley-martine commented on #45
Still getting the error with 0.2.2.
Updated node to 8.9.3 and error is fixed

[2017-12-18 20:12] mjkaufer commented on #45
Hey @riley-martine can you print your full stack trace about `Object.values` not being a function with `0.2.2` on your old node version? I thought I removed all instances of `Object.values`, so there might be a dependency calling it or something.

[2018-01-11 10:27] kubikmxm opened #48 "Cannot read property 'name'"
Hello!

Everything working well but today i updated to 0.2.2, and connected well! But i get this error message everytime on every command :

TypeError: Cannot read property 'name' of undefined
    at Messer.getThreadByName (/usr/lib/node_modules/messer/index.js:186:34)
    at Promise (/usr/lib/node_modules/messer/src/command-handlers.js:83:29)
    at new Promise (<anonymous>)
    at Messer.message

[2018-01-14 21:53] tomquirk commented on #48
Hmm, looks like the thread cache isn't being initialised. Should be a quick fix, I'll keep you posted

[2018-01-14 21:59] tomquirk commented on #48
Update: looks like a problem with facebook-chat-api not returning list of threads. Will investigate

[2018-01-14 22:02] tomquirk commented on #48
https://github.com/Schmavery/facebook-chat-api/issues/570 - looks like someone's got a GraphQL version in the works. Unfortunately, there's not much we can do at this point 😢

[2018-01-15 00:23] Spamm3r opened #49 "Request: Support for old version of npm & node"
Hi,
I have decided to have some kind of messenger on my iPad on 6.1.3
I have there node 0.6.14 and npm 1.1.12
I know that this is like stone age or something but is there an possiblity for Messer there?

[2018-01-15 10:25] tomquirk commented on #49
Man, that is some vintage node! Of course, we _could_ support it, however, it would mean a minor refactor and inclusions of some other libraries. For now, I'll label it an `enhancement` and if some other people want it, we'll give it some more thought

[2018-01-15 14:08] ravkr commented on #48
you can use my version (https://github.com/ravkr/facebook-chat-api) with graphQL function
but you know... it can change at any moment and is not finished yet

[2018-01-15 15:32] Spamm3r commented on #49
Thank you!
Well this vintage node is ported for iOS 6 and is abandoned on that version.
Could I help you somehow with it?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Wolny
od wirusów. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8

[2018-01-24 18:49] Canardian opened #52 "A few days ago messer stopped working"
I am running in a facebook chat group with 3 people. It worked fine until a few days ago. Then I started to get this error message when people send a message to the chat group:
[code]
I tried to upgrade node.js from 9.3.0 to 9.4.0 and reinstalled messer and deleted the appstate.json file. The facebook user which logs into messer works fine from the browser.

[2018-01-24 18:53] mjkaufer commented on #52
Yep, these are all currently due to issues with the `facebook-chat-api` dependency, which are due to issues with Facebook, as they recently migrated to GraphQL (this is as I understand it, at least). We'll try to have everything back up and running when `facebook-chat-api` reverse engineers the new messenger GraphQL endpoints.

Sorry for any inconvenience!

[2018-01-24 18:56] Canardian commented on #52
Okay, thanks for the info. Now I can don't have to try to debug what's wrong on my side :)

[2018-02-01 18:02] dhruvyadav14 opened #53 "Message feature not working"
`m "Mike Smith" hello
TypeError: Cannot read property 'name' of undefined
    at Messer.getThreadByName (/usr/local/lib/node_modules/messer/index.js:186:33)
    at Promise (/usr/local/lib/node_modules/messer/src/command-handlers.js:83:29)
    at Promise (<anonymous>)
    at Messer.message (/usr/local/lib/node_modules/messer/src/command-handlers.js:73:12)
    at Messer.processCommand (/usr/local/li

[2018-02-01 20:29] mjkaufer commented on #53
See #48 and #52

[2018-02-01 20:29] #53 closed

[2018-02-13 00:38] iwconfig opened #54 "Add `threads` command that lists threads"
## Summary

Add a `threads` command that lists threads I can interact with.

## Original Issue

I have a friend who doesn't use facebook anymore but keeps in touch with others on messenger. This person's name doesn't show up when i use the `contacts` command.

[2018-03-30 21:31] tomquirk commented on #47
This kind of works now 😄

[2018-04-11 11:18] bossjl commented on #23
I just wrote a quick and dirty reply script, it has to be combined to messer with socat (there is still a bug, it send the response 2 times...i will have a look later):
socat EXEC:/usr/local/bin/messer EXEC:./reply.sh

Here the reply.sh script:
#!/bin/bash
while read lg
do
	echo received: "$lg" >> reply.log
	if [[ "$lg" != *"ERROR"* ]]
	then
		echo r "YOUR REPLY TEST HERE"
	fi
	sleep 1s
done

[2018-04-14 12:12] tomquirk commented on #52
hey @Canardian , are you still experiencing this?

[2018-04-24 19:00] dani4dexy13 opened #56 "Sms"

[2018-04-24 19:00] dani4dexy13 opened #57 "My sms"

[2018-04-24 20:56] #57 closed

[2018-04-24 20:56] #56 closed

[2018-04-27 17:57] joech4n opened #58 "Support non-interactive mode"
Is there a way to invoke messer in a non-interactive mode? For example, I'd like to use it with [Alfred app](https://www.alfredapp.com/) and call it like this:

`messer m "Bob" hi`

[2018-04-30 07:33] Aries0d0f opened #59 "TypeError: Cannot read property 'fullName' of undefined when get message send from others"
When I got message send from others and it shows error message such like
[code]

[2018-04-30 08:33] tomquirk commented on #58
cool idea @joech4n , would be happy to consider PR's adding this support 👍

[2018-05-07 09:42] lisaq commented on #59
I'm also getting this error now. :/

[2018-05-07 13:52] tomquirk commented on #59
Hey @Aries0d0f @lisaq ,

Were you guys experiencing this for messages sent from people other than yourself? I managed to reproduce the error when I sent messages to myself, and have a fix ready to go (#60)

If yes, there's probably another issue related to the API we use (facebook-chat-api), and it looks like they are [working on a fix](https://github.com/Schmavery/facebook-chat-api/pull/572). I w

[2018-05-07 15:38] lisaq commented on #59
I haven't tried to send a message to myself, actually. I get the message when I try to send messages to other people, or try to grab the history. I didn't happen to get any messages from anyone this morning to test what happens in that case.

[2018-05-07 16:08] Aries0d0f commented on #59
I restart it and it works fine now, but still broken sometimes; restart again and its work... probably facebook-chat-api's issues.

[2018-05-07 21:52] tomquirk commented on #59
Thanks guys. In light of the recent updates to facebook-chat-api (spanning back a couple of months now) it's probably worth us rethinking a few parts of Messer, particularly how we cache/store friends/threads locally. I'm guessing such work would solve a lot of these issues and improve maintainability. I'll keep this ticket open as a reminder to myself!

[2018-05-16 15:14] Apop85 opened #61 "Send message out of terminal without open messer first"
Hi there.
I would like to create a script that automatically sends a message without me having to run messer first. Is it already possible to do this in the current version of messer? I was thinking of something like: `messer message "reciever" Hello World!` or similar. This command should then open messer, send the message and then close messer again.

Greetings Apop

[2018-05-22 00:37] bsansouci commented on #59
Does this still happen now that we've merged https://github.com/Schmavery/facebook-chat-api/pull/572 ?

[2018-05-22 01:14] tomquirk commented on #59
yoo, nice. I'll have to check. Thanks for following up @bsansouci ❤️

[2018-06-01 13:28] #59 closed

[2018-06-01 13:28] #48 closed

[2018-06-02 15:09] y0l016 opened #63 "Group chats - group name and sender name is null"
Other people's usernames are displayed as undefined
![edit2](https://user-images.githubusercontent.com/33809736/40877851-0de1bdda-66a5-11e8-993f-8afd02921f7b.gif)
I am not sure why this happened

[2018-06-02 23:19] tomquirk commented on #63
Hey @Mshanmuganathan, I just pushed a decent-sized update, something may have broken.
Can you let us know:
* What version of Messer you are running
* What version of Node you are running
* If that person is a friend of yours

I think I fixed most of the bugs in `v0.3.2` - try that version if you aren't already on it 😄

Thanks!

[2018-06-03 01:36] #47 closed

[2018-06-03 02:46] tomquirk commented on #44
closing as no similar issues have been reported

[2018-06-03 02:46] #44 closed

[2018-06-03 02:47] tomquirk commented on #45
@riley-martine would you be able to check if you are still experiencing this issue?

[2018-06-03 02:49] tomquirk commented on #61
Thanks for the suggestion @Apop85 , I would call it a duplicate of #58  though, I hope you agree

[2018-06-03 02:49] #61 closed

[2018-06-03 02:50] #34 closed

[2018-06-03 08:32] tomquirk commented on #63
Ah okay, I will have to check group chats.

Could you run the following to confirm what version of Messer you are using? (it should be `0.3.3`)

[code]

[2018-06-03 09:10] tomquirk commented on #63
Gotchya, group chats is broken 😂

Sorry about that @Mshanmuganathan . A fix is probably about a week away.

[2018-06-04 05:53] Mshanmuganathan commented on #63
lol. Thanks btw

[2018-06-04 05:54] Mshanmuganathan commented on #63
The version is 0.3.2

[2018-06-05 13:56] y0l016 opened #65 "Aggregated History View"
## Summary
Add a command that will provide an "overview" of your Messenger state. Thinking default to top 5 chats, and show the 5 most recent messages of each chat.

I think we could simply extend the `recent` command, and add a `--history` option.

## Motivation

Tedious to achieve the same thing with the current mechanisms

## Original issue

Please add history of chats function. This client lac

[2018-06-05 22:12] tomquirk commented on #65
`history "you friend's name"`

[2018-06-06 04:12] Mshanmuganathan commented on #65
I meant like default display of full chat history when you log in with unread on first.

[2018-06-06 04:30] tomquirk commented on #65
hmm, not quite sure what you mean! 😂 Possibly you are looking for the `recent` command? That will list your 5 (or however many you specify) recent chats and color them red if there are unread messages in there.

If that's not what you're after, give me a specific description (preferably with an example), and I'm sure we can figure something out 😄

[2018-06-06 05:54] Mshanmuganathan commented on #65
Thanks for the good response.
What I meant is, like this:
![image](https://user-images.githubusercontent.com/33809736/41019408-1d0f07b6-697c-11e8-9a4c-4d0bad45f49d.png)

[2018-06-06 07:39] tomquirk commented on #65
Right, I get what you mean. Definitely a good suggestion.

Currently, we aren't in a position to do specifically what you are asking, but it's definitely something that has been discussed before and we will eventually do.

Might be a good holiday project for me/someone else 😂

[2018-06-06 08:17] sfoubister opened #66 "SyntaxError: Unexpected token )"
Hi
I installed this for the first time and tried to run it but get:

[code]
Thanks
Steve

[2018-06-06 11:05] tomquirk commented on #66
Hey @sfoubister , could you please let us know what version of Node you are using?

[2018-06-06 11:28] #19 closed

[2018-06-09 21:26] Unders0und opened #67 "History command is broken"
Whenever I try to access the "history" feature, I got this error... Have I done something wrong? I haven't see anyone complaining about that yet

also... The error got one exception: when I use it on a specific contact, it displays the history as it should, but if I try to specify the number of messages it gives me back the same error I mentioned at the beginning (and which I'll post it fully bell

[2018-06-11 16:12] PandawanFr commented on #44
Hey, I decided to try again just to see if it worked, but it still doesn't.
![image](https://user-images.githubusercontent.com/8564550/41243632-7f824b68-6d57-11e8-8481-e91b93d7073e.png)

[2018-06-11 16:48] Unders0und commented on #67
@tomquirk
I'm still getting the same error, what do I do?

[2018-06-21 03:12] tuananh1406 commented on #66
Hi
I get same error. When i run "npm test", the output is:
[code]
How can i fix that? Thanks!

[2018-06-21 12:10] sfoubister commented on #66
Hi @tomquirk

I am using:

$ node --version
v6.14.0

Cheers
Stephen

[2018-06-21 12:35] tomquirk commented on #66
Hey @sfoubister thanks for letting me know your version.

Should be fixed now! Please `npm install` again

[2018-06-21 12:35] #66 closed

[2018-06-21 13:34] sfoubister commented on #66
Yep, I can login now.
Thanks

[2018-06-21 13:41] sfoubister commented on #67
I am getting this error, too. Whenever I try to access history:

(node:15701) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 19): TypeError: Cannot read property 'thread_key' of null

I can only get it to work if I do:

Friend name: Lol

It returns just the last message from them. If I try any more it gets the above error

[2018-06-21 23:13] tomquirk commented on #67
Hey @Unders0und @sfoubister sorry for the late response to this one...

I'll take a look at this over the weekend, thanks for your patience! (Also, feel free to submit a PR if you think youve got a fix!)

[2018-06-25 00:41] Jukiro commented on #67
This error also returns when I try to access a history of a group conversation. Not even 1 recent message can be returned.

[2018-06-28 00:09] mjkaufer opened #68 "gif support"
## Summary

Send gifs via a command

## Motivation

The ability to type something along the lines of `message "Matt" <gif:hackerman>` or `message "Tom" <gif:puppies>` and have giphy send the first gif matching that keyword would be pretty wild

[2018-07-01 04:00] eupiteco commented on #67
:point_up: Same issue, can't return any messages, like Jukiro above.
Just installed version 0.3.4 via npm in a Manjaro system
Subscribing for fixes.
Also great app! I've been wating for this a long time :smile:

[2018-07-01 04:27] eupiteco opened #69 "[Question] Where are the default credentials?"
I logged in the first time and did now I auto-login everytime, but did not asked messer to save my credentials. I'm kinda freaking kniwing my fb credentials are somewhere in the computer and I can't find them.
Already looked in my home folder, ~/.config and /usr/lib/node_modules/messer but did not managed to findo the file...

Thanks in advance :smile:

[2018-07-01 04:40] tomquirk commented on #69
Hey @eupiteco, not at my computer right now, but, put your mind at ease...

On login, facebook-chat-api allows to save "appState" (literally `appState.json`), which we utilise to save you having to enter your creds. I'm pretty sure that file is just a session token of sorts, but I would have to double check. Relevant code for saving the app state is in `util/helpers.js`

[2018-07-01 09:39] eupiteco commented on #69
Yeah, that worked out.
found `appstate.json` in my home folder, from where I launched messer. Theres was no explicit values of my credentials but once I deleted the file, messer aked for them.
I'm kinda totally newb with js so excuse my rushing.
I guess this thread can be closed now, thanks for yout attention.

[2018-07-01 11:54] tomquirk commented on #69
all good man! Glad to help

[2018-07-01 11:54] #69 closed

[2018-07-15 01:32] ErikBoesen commented on #67
I'm having the same issue on macOS 10.11.6.

[2018-07-15 01:57] dominikradko opened #70 "is there command to logout from messenger?"
Can't see it anywhere. Just want to logout because i want to keep it private

[2018-07-17 01:06] waxyhexagon commented on #70
From the readme:

[2018-07-17 10:54] SUBmarinoff opened #72 "Lock on to user and send messages"
It would be nice to have a command to "lock on" to a user and chat just with them. I find myself sending the wrong message to the wrong person sometimes, when I use the r command.

Example:
[code]

[2018-07-20 09:29] tomquirk commented on #70
I'll add this to the docs explicitly, thanks @dominikradko !

[2018-07-20 10:23] tomquirk opened #73 "Deprecate `config.json` login method"
We don't need this method of logging in anymore because of the `appstate.json`. I'm gonna remove it for clarity

[2018-07-20 13:55] dominikradko commented on #70
Thank you @tomquirk !

[2018-07-21 02:19] tomquirk commented on #58
released as of https://github.com/mjkaufer/Messer/milestone/3. Thanks again @SUBmarinoff !!

[2018-07-21 02:19] #58 closed

[2018-07-21 02:19] tomquirk commented on #73
Released as of https://github.com/mjkaufer/Messer/milestone/3

[2018-07-21 02:19] #73 closed

[2018-07-21 02:20] tomquirk commented on #70
Released as of https://github.com/mjkaufer/Messer/milestone/3

In a messer session, use the command `logout` 💃

[2018-07-21 02:20] #70 closed

[2018-07-21 03:48] tomquirk commented on #67
Ah damn. So weird, I just can't seem to replicate this - `history` works for every situation I can find for me. Any more info you could provide would be awesome. Specifically:
* what position in your thread list is the person (i.e are they most recent, second most etc.)
* how many messages are in that thread
* version of Messer (just to double check)
* What situation (if any) does `history` work f

[2018-07-23 02:39] eupiteco commented on #67
Hi, I am now running messer in Xubuntu 18.04 and cannot run `messer` as user, only as root... the output is this, I don't remember needing those permissions with 0.3.4
[code]
But that does not belong in this thread :sweat_smile:

When running history "User Name" I still get the same error and the prompt hangs. Pressing the enter key results in the following output
[code]
and the `>` prompt is back

[2018-07-23 02:54] Unders0und commented on #67
@tomquirk
@eupiteco 's case it's the same as mine
since the update, I can only run messer as root

WOOOWWW hold on
the history is working!
well, I can't set the number of messages displayed, but it's working for every contact now 'o'
it's displaying 5 messages

[2018-07-23 03:11] tomquirk commented on #67
yep, whoops, I'll fix that `sudo` bug asap.

That error message is different to the one you were getting before @eupiteco, which is promising 😂 It makes a bit more sense to me as well, so I will dig into it later on

[2018-07-23 03:18] tomquirk opened #76 "Messer has to have `sudo` permissions"
### Description

Messer requires super user permissions. Specifically, it tries to `mkdir` in the package's folder (which is dumb).

#### Solution
mkdir in `$HOME/.messer` or something. This will isolate messer state files from other users of the system

**Expected behavior:** `messer`

**Actual behavior:** `sudo messer`

### Versions

messer - v0.4.0

[2018-07-23 11:57] tomquirk commented on #76
resolved

[2018-07-23 11:57] #76 closed

[2018-07-23 11:58] tomquirk commented on #67
fyi sudo issue solved, things now save to `~/.messer/tmp`

[2018-07-23 12:38] tomquirk commented on #67
@eupiteco if you type gibberish into the REPL, does it come back with `Invalid Command - check your syntax`, or the same error?

Otherwise, I'm pretty much at a loss with this bug haha. I've started a branch, `tq_feat/history-bug`, and in it I've made 1 small change which may fix it, who knows. Classic case of `it works on my machine` 😂 😢

[2018-07-23 20:00] Unders0und commented on #67
@tomquirk lol
classic programmer issue XD

[2018-07-24 02:33] eupiteco commented on #67
Updated to version 0.4.1 via npm and got a different error when trying to login: a `Enter code >` prompt appears after the `Logging in...` message, but it doesn't run anything when pressing enter, just linebreaks; after a while the following message appears:
[code]

@tomquirk can you give more instructions on running the code in the `history-bug` branch? I am trying `git checkout history-bug` but

[2018-07-24 04:05] tomquirk commented on #67
ahhhh 💥 Temporary fix for that login issue is to `mkdir ~/.messer`.

The branch is called `tq_feat/history-bug`, so `git checkout tq_feat/history-bug` Let me know how u go!

[2018-07-24 11:47] tomquirk commented on #67
Just did another release `0.4.2` - have a play and see if stuff works

[2018-07-30 20:41] eupiteco commented on #67
0.4.2 update gives me the following message after `history Person Name`
[code]
After that there is no `>` prompt showing. When I press Enter the following outputs
[code]
And the `>` prompt is back

Same thing happened with the `tq_feat/history-bug` branch

[2018-07-30 21:26] tomquirk commented on #67
just to confim, its `history "person name"` right? (with quotes)

[2018-07-30 22:33] eupiteco commented on #67
Yes, "with quotes"

[2018-09-18 03:01] Unders0und opened #81 "Notification (Sound or visual)"
It would be nice if we could be able to know when we receive a message while the tab is minimized (or when we're using another tab of the terminal itself).

I don't know if it's possible to make a sound through the app, though
maybe the header of the terminal could show some sort of.. I don't know, star "*", just like when it happens when we let a command running and it finishes the task

well, I

[2018-09-18 03:34] Unders0und commented on #81
@tomquirk really? lol
can I switch the terminal? I'm using the terminal that comes in with the Lubuntu and I don't know how to make it sound XD
and it doesn't display anything at the header when I switch tab or minimize it

[2018-09-18 03:50] tomquirk commented on #81
yeah I'm honestly not sure 🤔 Maybe have a read around for how other people get notifications on Ubuntu

[2018-09-24 09:43] tomquirk commented on #72
Done!

[2018-09-24 09:43] #72 closed

[2018-09-24 16:46] hplewis opened #82 "Empty command results in error"
When pressing Enter without typing a command, a `TypeError` is displayed to the user.

[code]

This should probably be handled to not show an error.

[2018-09-24 20:40] tomquirk commented on #82
oops 😂 Give that a go

[2018-09-26 18:12] hplewis commented on #82
LGTM

[2018-09-26 22:34] tomquirk commented on #82
<3

[2018-09-26 22:34] #82 closed

[2018-10-15 08:30] voidcase commented on #81
@tomquirk I think a lot of people have the terminal bell disabled to avoid immediate mental break. It's also off by default in many terminals. I would suggest switching from using terminal bell to a package like [play-sound](https://www.npmjs.com/package/play-sound) or [audio-play](https://www.npmjs.com/package/audio-play).

[2018-11-04 21:59] crissmil opened #83 "How To Execute Shell Command with Python"
Hi, I am trying to use messer in my home automation system. I want to receive on fbk messages from home. I installed messer on Raspberry where I have a py socket server which communicates with my Fibaro home automation.  Messer is working good from lxterminal, but I need to send text command from os shell script, because my socket server uses   os.system()  function to run it.

I only managed to p

[2018-11-07 12:52] andmib opened #84 "Question: Where are messages stored?"
Hello there,

Thanks for the awesome tool. I have a question about message storage. Where are received/sent messages cached/stored? Are they encrypted on the HD, or stored in plaintext?

Thanks!

[2018-11-07 23:54] tomquirk commented on #84
Hey @andmib , glad to hear you like the project.

We don't store messages 🎉 We only go as far as metadata, and no, none of this is encrypted.

See [the Messer class](https://github.com/mjkaufer/Messer/blob/b5518a1d521af6063fd3efc1ff3132c513af9d72/src/messer.js#L16) and [it's cacheThread method](https://github.com/mjkaufer/Messer/blob/b5518a1d521af6063fd3efc1ff3132c513af9d72/src/messer.js#L205). Yo

[2018-11-12 12:08] crissmil commented on #83
Hi there,
I succeeded to use messer to send messages from my home automation using xdotool, by calling strings like this:

'"xdotool type m' '" .. '\\"Fibaro\\"' .. '" "' .. fbk_message'

from socket server client. And it is working fine. Thanks for your amazing work.

I am pushing a little further now... I want my Sonos to speak text received in terminal log(). I am thinking to add shell system c

[2018-11-12 12:14] crissmil commented on #83
my Sonos server is listening to this shell comands:
'wget "http://localhost:5005/Living%20Room/say/'.. text ..'/Andrei/'.. ttsvol ..'"'     or
'curl http://localhost:5005/Living%20Room/say/'.. text ..'/Andrei/'.. ttsvol ..''

I just need something like this:

import os
data = 'wget "http://localhost:5005/Living%20Room/say/'.. text ..'/Andrei/'.. ttsvol ..'"'
os.system(data)

but in js...

[2018-11-12 14:15] crissmil commented on #83
I found this working:

function execute(command) {
        const exec = require('child_process').exec
        exec(command, (err, stdout, stderr) => {
          process.stdout.write(stdout)
        })
      }
      execute('curl http://localhost:5005/Living%20Room/say/Hi%20There!/Andrei/30')

now I just need to know how to integrate it into messer in order to get the received text and add it to co

[2018-11-12 15:52] crissmil commented on #83
Did it! added this to event_handler.js just under log()

function execute(command) {
          const exec = require('child_process').exec

          exec(command, (err, stdout, stderr) => {
            process.stdout.write(stdout)
          })
        }

        messageSay = encodeURIComponent(messageBody.trim())
        execute('curl http://localhost:5005/Living%20Room/say/' + messageSay + '/Andr

[2018-11-13 02:31] phasstw opened #86 "Distinguish between contacts with same name."
## Summary

the `contacts` command should distinguish between different users who have the same name. I have two friends with the same name and they are only showing up as one entry in the output of `contacts`.

[2018-11-16 18:33] crissmil commented on #83
Facebook just killed my boot today... after 1 week of work... useless...

[2018-11-20 04:48] phasstw opened #87 "Group Messages not displaying individual names"
When I receive a group message, the individual participents are not named. This makes group chats impossible to participate in. Either the group name is repeated or null is inserted for both the group and the participant.

Ex. (Group Name) Group Name - Message Here
OR
(null) null - Message here

[2018-12-13 14:58] amaurymartiny opened #88 "No way to do the security check"
### Description

I use this to send 1 message to all my friends, and got blocked by Facebook's spam filter. A recaptcha verification should let me continue to send messages, but there's no way to do that.

### Steps to Reproduce

1. Send a lot of messages (via script)
2. Receive this error:

[code]

**Expected behavior:** [What you expect to happen]

Be able to redirect to a webpage to confirm thi

[2019-01-15 19:52] Yistic opened #89 "Error when using history"
[code]

[2019-01-18 01:07] at94official opened #90 "Error running Messer"
Hi, I need help. As I try to install and run Messer. I have these errors.

"Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\Administrator>npm install -g messer
C:\Users\Administrator\AppData\Roaming\npm\messer -> C:\Users\Administrator\AppD
ata\Roaming\npm\node_modules\messer\index.js
+ messer@0.4.2
added 131 packages from 86 contribut

[2019-01-18 04:46] #90 closed

[2019-01-26 12:13] at94official commented on #90
@tomquirk Yes, hello. Apologies for the late response. I did find the solution and also, I will get these errors if I restrict the access to Facebook.

[2019-02-08 21:07] xujenna opened #91 "Logging in to Messer causes FB to lock account"
### After chatting on Messer for about ten minutes, Facebook logged me out of all my devices and locked my account:

<img width="554" alt="screen shot 2019-02-08 at 3 21 34 pm" src="https://user-images.githubusercontent.com/13280722/52505599-050a8e00-2bba-11e9-97a5-38386caa6075.png">

### I was forced to change my password. I thought maybe enabling 2FA would avoid this issue, so I did. Now I can't

[2019-02-09 02:04] tomquirk commented on #91
Hi @xujenna ,
Very sorry to hear you're having troubles. Firstly, congratulations for submitting the best bug report in this project's history 🙏

I'll try and reproduce your issue, but in the interim, here are a few comments:

1. Any temporary locking/red flags that Facebook might raise is mostly out of our control. Messer is powered by [facebook-chat-api](https://github.com/Schmavery/facebook-cha

[2019-02-10 01:53] #84 closed

[2019-02-10 03:53] tomquirk commented on #67
just released a new version - would love you guys to test it out and see if your history woes are solved!

[2019-02-10 03:56] tomquirk commented on #91
I've been testing fairly heavily for the last 24 hours and haven't stumbled across any temporary locking on my main account. However, I have a test account which did trigger a "upload a photo to prove it's you" lock.

I have just released a new version, v0.5.0, which adds a `cleanup` command. Usage:
[code]
This will forcibly remove your appstate.

Eager to hear if you have any more issues

[2019-02-10 05:22] xujenna commented on #91
Thanks for the quick turnaround, Tom!

I deleted `appstate.json` from `~.messer/` and doing this, in conjunction with enabling 2FA, seemed to have done the trick—Messer prompted me to login and enter my 2FA code, Facebook asked me to confirm my login, and ever since I've been happily chatting through Messer, without getting locked out once. 🙌

Thanks again for looking into it!

[2019-02-10 07:52] tomquirk commented on #91
I was feeling productive 😂 Glad to hear it though 😎

[2019-02-10 07:52] #91 closed

[2019-02-10 07:53] tomquirk commented on #89
Hey @Yistic , try updating to messer v0.5.0 and let us know if youre still having trouble :)

[2019-02-10 16:50] ErikBoesen commented on #67
@tomquirk The same issue still occurs.

[2019-02-11 04:32] xujenna opened #93 "can't escape quotes in non-interactive mode"
### When sending a message via non-interactive mode, I'm unable to include single quotes even when escaping. I tried backticks as well, which... appear as backticks. Is there any way around this?

### Steps to Reproduce

1. `messer --command='m "John Smith" Hey what\'s up'`
2. Messer breaks strangely, sends nothing, returns no error

**Actual behavior:**
[code]

### Versions

  - npm -v 6.5.0
  -

[2019-02-11 15:14] eupiteco commented on #89
Hello, @Yistic take a look at #67
Propose to close this as duplicate

[2019-02-11 15:16] eupiteco commented on #67
`recent` returns nothing
`history` returns the usual
[code]

[2019-02-11 23:29] #89 closed

[2019-02-13 13:42] Yistic commented on #89
Sorry for late reply.I haven't been home for week.Update seems to have fixed this problem.

[2019-02-25 01:45] lsaadeh opened #94 "SyntaxError: Unexpected token {"
### Description

/usr/local/lib/node_modules/messer/src/messer.js:5
const { getCommandHandler } = require("./commands/command-handlers");
      ^

SyntaxError: Unexpected token {

### Steps to Reproduce

1. npm install -g messer
2. messer
3. ~$ messer
/usr/local/lib/node_modules/messer/src/messer.js:5
const { getCommandHandler } = require("./commands/command-handlers");
      ^

SyntaxError: Unexp

[2019-02-25 01:51] lsaadeh commented on #94
node version v4.2.6 too low

[2019-02-25 01:51] #94 closed

[2019-02-25 02:57] lsaadeh opened #95 "chat lock"
## Summary

enter chat "name"
allows you to type messages to the same people with retyping m "name" yourmessage

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?
speed up the communication and reduce the amount of repetitive commands

[2019-02-25 03:02] #95 closed

[2019-03-04 13:38] mehdi-S opened #96 "Issue on windows 7 with Hyper shell"
I've installed messer, when I type messer it show me this error

`path.js:39
    throw new ERR_INVALID_ARG_TYPE('path', 'string', path);
`

followed by

`TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
    at assertPath (path.js:39:11)
    at Object.resolve (path.js:166:7)
    at Object.<anonymous> (C:\Users\t792152\AppData\Roaming\npm\node_mod

[2019-03-15 21:33] sormazi opened #97 "Unable to use after facebook phishing block"
### Unable to use after facebook blocked my account temporarily for suspicious phishing activity

### Steps to Reproduce

1.  run messer
2. I get this

 `Error: Failed to login: Error retrieving userID. This can be caused by a lot of things, including getting blocked by Facebook for logging in from an unknown location. Try logging in with a browser to verify.
    at facebook_chat_api_1.default (/u

[2019-03-21 18:16] MrGKanev opened #98 "Some cyrillic showing as null"
### Description

Some of the friends who write to me have they're named as "null". I tried with one group and it worked it showed it as it should. I couldn't see a logic behind it or at least for now.

### Steps to Reproduce

1. Most of the people who I have with Cyrlic names are null

**Expected behavior:**
See his real name.
**Actual behavior:**
See "null" and the message

### Versions

Run, and

[2019-03-28 16:01] psiriders opened #99 "sending Group Messages not working"
### Description

Group Messages from CLI doesn't work

### Steps to Reproduce

# messer --command='m "Awaria" hello'
Error: User 'Awaria' could not be found in your friends list!
    at getThreadByName.then.catch (/usr/lib/node_modules/messer/src/commands/command-handlers.js:59:13)

It Works from interactive mode when I receive the message first:

Successfully logged in as .................

Sent

[2019-04-03 08:27] Dyason opened #100 "All senders show as null"
All of my contacts that message me show as null - message. Replying and sending works, just the sender name is always null. This is in English with no special characters in names.

[2019-04-18 09:28] ManolisPapadimitriou commented on #100
Any update on the current issue?

[2019-04-18 14:26] mooooonbaby opened #101 "Use Messer to send a message in a shell script"
Hi,

is it possible to use messer to send a message in a shell script? normally i have to run 'messer' and then send a message with

I want so send a message when i script is finished, something like

Is this possible?

[2019-04-18 21:42] tomquirk commented on #101
Hey @mooooonbaby , check out our [Non-interactive mode](https://github.com/mjkaufer/Messer#non-interactive-mode)

[2019-04-19 09:03] mooooonbaby opened #102 "Can'i install Messer on Raspberry Pi"
I'm running Raspbian Stretch on my Raspberry Pi with Node.js 10.15.3 and npm 6.4.1. When i try to install Messer with

npm install -g messer

i have the error

[code]

and when i try it with 'sudo' there is this error

[code]

It seems there are some problems with write permissions to some folders but i don't understand why root can write here.

[2019-04-19 09:04] mooooonbaby commented on #101
Got it, thx.

[2019-04-21 07:54] tomquirk commented on #93
hey @xujenna , thats a bash thing afaik. Try `node index.js --command="m \"John Smith\" Hey what's up"` instead

[2019-04-21 07:54] #93 closed

[2019-04-22 05:53] tomquirk commented on #100
Hey 👋 *Messer 0.5.1 has just been published* with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:53] tomquirk commented on #99
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:54] tomquirk commented on #98
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:54] tomquirk commented on #96
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:54] tomquirk commented on #87
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:54] tomquirk commented on #86
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:54] tomquirk commented on #67
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:55] tomquirk commented on #63
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 05:55] tomquirk commented on #102
Hey 👋 **Messer 0.5.1 has just been published** with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-04-22 06:00] tomquirk commented on #83
Hey @crissmil, really sorry to hear your account got banned. It is an occasional unfortunate consequence of using projects of this nature.

I've been working on a new project called [messen](https://github.com/tomquirk) which may be of use to you (although it _is_ still in Nodejs). Messen now powers Messer (this project). Any feedback appreciated ✌️

[2019-04-22 06:00] #83 closed

[2019-04-24 20:10] mooooonbaby commented on #102
I dont think this is a Problem with Messer, i think it a Problem with npm. Problem still exists.

[2019-04-24 20:49] tomquirk commented on #102
Yeah okay. In this case, I would just clone the repository directly and run `npm start` :)

[2019-04-24 20:49] #102 closed

[2019-04-24 21:03] tomquirk commented on #97
Hey @sormazi , sorry to hear that! Unfortunately, this happens sometimes, and there's nothing we can do about it 😢

[2019-04-24 21:03] #97 closed

[2019-04-25 15:23] MrGKanev commented on #98
Hey @tomquirk , how can I update?

[2019-04-26 11:21] mooooonbaby commented on #102
ok, i've cloned it with 'git clone <link> and cd into ~/Messer. Then i run 'npm start' and get this error:

[code]

What node_modules are missing? Is there still an other package.json?

[2019-04-27 06:35] #101 closed

[2019-04-27 06:36] tomquirk commented on #102
did you `npm install` ?

[2019-04-27 10:10] mooooonbaby commented on #102
Seems this works. I can start messer with npm start when i'm in the folder. But how can i start messer in a shell script?

npm start /path/to/messer doesn't work.

[2019-04-27 20:16] tomquirk commented on #102
try `node path/to/messer/index.js` instead

[2019-04-28 12:23] mooooonbaby commented on #102
Yes, this works. Thanks. Also non-interactive mode works

[2019-04-28 15:35] mooooonbaby commented on #102
Seems there are some problems with the login because facebook has disabled the account. when i try to login with my browser i have to enter my mobile number - what i don't want to do. i want to try it with a new facebook acount.

messer cleanup should be enough to delete all login information that are saved in my home dir? can i check this? where are the files with the login information?

[2019-05-02 07:28] mooooonbaby opened #104 "Cleanup ends with error"
Hi,

on my raspberry pi i had to install messer by unpacking the tar, cd into the folder and run 'npm install'. i can start messer with 'node /path/to/app/index.js' and this worked for a while. yesterday facebook has blocked my account and i had to give them my mobile phone number. i don't want to do this. so i created a new facebook account and tried to cleanup messer. this worked on ubuntu (here

[2019-05-03 16:46] TDGalea opened #105 "Cannot send multiple lines"
First of all, if this is considered a feature request rather than a bug/issue, I apologise.

I'm attempting to send a message with newlines inside it, by using a variable as the message. Instead, messer only sends the first line.

Below, we set the message variable, and echo it back to ensure it's correct:
[code]
The echo confirms that we've added new lines correctly. So, we should be able to send

[2019-05-05 21:23] tomquirk opened #106 "Pipe to stdout"
## Summary

Pipe stuff to stdout of processSsingle

## Motivation

Allow users to do cooler stuff

[2019-05-06 02:53] tomquirk commented on #106
Hey 👋 Messer 0.5.2 has just been published with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-05-06 02:54] #106 closed

[2019-05-06 02:54] tomquirk commented on #105
Hey 👋 **Messer 0.5.2** has just been published, and this issue was fixed! Install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-05-06 02:54] tomquirk commented on #104
Hey 👋 **Messer 0.5.2** has just been published, and this issue was fixed! Install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-05-06 02:54] #104 closed

[2019-05-06 02:56] tomquirk commented on #100
This issue hasn't had activity in 14 days, so we're assuming it was fixed in a previous release. If it's still an issue, please open a **new** ticket

[2019-05-06 02:56] #100 closed

[2019-05-06 02:56] tomquirk commented on #99
This issue hasn't had activity in 14 days, so we're assuming it was fixed in a previous release. If it's still an issue, please open a **new** ticket

[2019-05-06 02:56] #99 closed

[2019-05-06 02:57] tomquirk commented on #98
should just be able to run `npm install -g messer` again, check you've got 0.5.1 or 0.5.2 installed with `messer --v`

[2019-05-06 02:57] #98 closed

[2019-05-06 02:58] tomquirk commented on #87
This issue hasn't had activity in 14 days, so we're assuming it was fixed in a previous release. If it's still an issue, please open a **new** ticket

[2019-05-06 02:58] #87 closed

[2019-05-06 02:58] tomquirk commented on #67
This issue hasn't had activity in 14 days, so we're assuming it was fixed in a previous release. If it's still an issue, please open a **new** ticket

[2019-05-06 02:58] #67 closed

[2019-05-06 02:59] tomquirk commented on #63
This issue hasn't had activity in 14 days, so we're assuming it was fixed in a previous release. If it's still an issue, please open a **new** ticket

[2019-05-06 02:59] #63 closed

[2019-05-06 03:09] TDGalea commented on #105
Unfortunately still the same in version 0.5.2. Still only sends the first line.

[2019-05-06 03:28] tomquirk commented on #105
this works for me
[code]

[2019-05-06 03:32] TDGalea commented on #105
Okay, newlines of that style work.
Shame that it can't send newlines preserved from a variable (or command's output) as I had originally intended, but this will work for the main purpose I have.

Thanks.

[2019-05-06 04:16] tomquirk commented on #105
ah sorry, didn't properly read your usecase. I'm happy to add that, but will come out in a future release

[2019-05-06 04:19] TDGalea commented on #105
That's fine. I appreciate the work.

[2019-05-07 13:44] tomquirk opened #108 "Delete messages"
dis

[2019-05-07 23:42] tomquirk opened #109 "Anonymous mode"
## Summary

I want an anonymous mode for lockons. It will work like this:

1. Lock on to user in anonymous mode
2. Every message sent and received is immediately deleted

## Motivation

;)

[2019-05-09 22:46] tomquirk opened #111 "Track active users"
## Summary

Add **Opt-in** mechanism that sends a heartbeat-like request somewhere (*no personally identifiable info*, besides the request itself which will have IP, HTTP headers etc.).

## Motivation

I'd like some insight into how many people actually use this project. Downloads are a decent metric, but I have a feeling it doesn't reflect people who use Messer frequently (our core users). I unde

[2019-05-10 20:56] tomquirk opened #113 "Support user settings"
## Summary

Support settings for users. This would be via a settings file stored in `~/.messer/settings.json`. Stretch goal of supporting a command to edit settings like:

[code]

[code]

[code]

## Motivation

Just for sending "read" messages at the moment, but we can extend it to support a bunch of things

[2019-05-11 23:40] tomquirk commented on #96
This issue hasn't had activity in 14 days, so we're assuming it was fixed in a previous release. If it's still an issue, please open a new ticket

[2019-05-11 23:40] #96 closed

[2019-05-12 02:11] tomquirk commented on #86
Hey 👋 We recently released a new version of Messer with a bunch of bug fixes - install it and give it a whirl 🤘. If you’re still experiencing this issue, please comment below with your symptoms and we'll keep the ticket open. Thanks for supporting Messer 💬

[2019-05-12 02:11] #86 closed

[2019-05-13 17:22] halhex opened #119 "Login from phone number"
## Summary
When prompting for credentials, Facebook allows users to login using their email as well as their phone number. In fact, I was able to log in on messer using my phone number even though it prompted me for my "email". Maybe change the prompt?

## Motivation
I don't know my email address, I don't even know if my Facebook account has one? Plus it already works, it's just about changing the

[2019-05-16 22:10] pniedzwiedzinski opened #121 "Failed to install"
### Description

I tried to install it in docker container (`node:lts-stretch-slim`) and it's failing.

### Steps to Reproduce

1. My Dockerfile:
[code]

**Expected behavior:** To install messer

**Actual behavior:**
[code]

### Versions

Run, and copy-paste the results, of the following:
  - npm -v 6.4.1
  - node -v 10.15.3
  - messer -v -

Also, please include the OS and what version of the OS y

[2019-05-16 22:13] pniedzwiedzinski commented on #121
Also here is content of .log file:

[code]

[2019-05-16 22:15] pniedzwiedzinski commented on #121
Ok, I found a solution. That's of course caused by git which is not installed.

https://stackoverflow.com/questions/53247394/npm-install-web3-install-fails-undefined-ls-remote

[2019-05-16 22:15] #121 closed

[2019-05-23 15:46] pniedzwiedzinski opened #122 "User mentions"
## Summary

It would be amazing if I could mention other @user

## Motivation

I’m writing a Shell script and I would like to mention other user with it.

[2019-05-23 19:44] pniedzwiedzinski commented on #122
I discovered that messenger adds these headers for the message: `@Użytkownik Facebooka`
[code]

- so the first one is user id
- offset is where mention starts
- length is length
- type - I don't know, it's always `p`

Index 0 is because you can have multiple mentions in one message, then you just copy this and increase the index.

## Also

I think this project needs better documentation. I would l

[2019-05-24 20:18] p1ho opened #123 "Hide Password when loging in"
## Summary

When I logged in, the password is out in the open, it'd be nice if the password stays hidden.

## Motivation

Security

[2019-05-25 00:57] tomquirk commented on #123
Hi @p1ho , how do you mean "the password is out in the open"? As you enter the password, it should be hidden. Can you provide a screenshot?

[2019-05-25 03:21] p1ho commented on #123
Yes for sure. I'm running Git Bash on Windows 10 with Node v10.15.3 and npm 6.4.1
![image](https://user-images.githubusercontent.com/22629067/58363948-82f95900-7e7a-11e9-8366-134e9e10b705.png)

[2019-05-25 06:42] tomquirk commented on #123
huh, thats really interesting! It is hidden on MacOS and Linux afaik. We're simply using [this library](https://github.com/flatiron/prompt). I'll look into it a bit more though

[2019-05-25 07:03] p1ho commented on #123
I see, I took a look at open issues and there were a couple that could be related:
 - [187](https://github.com/flatiron/prompt/issues/187)
 - [160](https://github.com/flatiron/prompt/issues/160)

[2019-05-25 08:49] p1ho commented on #123
So I found the [relevant code](https://github.com/mjkaufer/Messer/blob/master/src/util/helpers.js#L28-L47) in the code base and tried to test it in isolation. Interestingly it works again...
This was the test code, the only dependency was [prompt](https://www.npmjs.com/package/prompt)
[code]
and this was the output
![image](https://user-images.githubusercontent.com/22629067/58367066-59efbd00-7ea8-

[2019-07-08 12:01] SUBmarinoff commented on #68
I'd like to attempt this. Giphy seems to have a pretty straightforward API.

[2019-07-08 13:09] tomquirk commented on #68
Totally! I think the only way we can really do it though is to allow users to configure their own Giphy API keys (i.e. we can't manage it ourselves).

Check out my work on [v1](https://github.com/mjkaufer/Messer/pull/112) - supports settings ✌️

[2019-07-08 13:26] SUBmarinoff commented on #68
@tomquirk Ok, will do. Thanks for the heads-up!

[2019-07-09 10:13] DilyanMarinov opened #125 "Support deactivated Facebooks accounts that have opted to continue using Messenger"
## Summary

When deactivating a facebook account, you can opt to keep using Messenger without your account reactivating as a result of the login. Messer should support this use case.

## Motivation
Currently, Messer does not respect inactive accounts and your Facebook account is reactivated once you log in using Messer. This persists, even if you deactivate the account after logging in with Messer

[2019-07-09 10:21] DilyanMarinov opened #126 "Add mute command"
## Summary

It would be nice to have a `mute` command, so group threads don't spam you.

## Motivation

When you're part of a larger group conversation, all the single threads get lost in the noise.

[2019-10-23 05:32] TwoLeaves opened #129 "Make `unread message count` reflect number of conversations with new messages"
Messer currently changes the window title to reflect the total unread message count. Could a configuration option be added to make the window title instead reflect the number of conversations with unread messages? That is, if three people have messaged me 5 messages each I want the unread count to be 3, not 15. At least for me and perhaps others, whether a contact has sent 1 new message or 15 new

[2019-11-17 07:22] tomquirk commented on #129
Hey @TwoLeaves , I like your idea. With an upcoming release we're adding user settings, so we can certainly consider making that a configurable option!

Check out my library [messen](https://github.com/tomquirk/messen) for a lower-level framework for building FB messenger applications :D

[2019-11-17 07:27] #109 closed

[2019-11-17 09:39] #15 closed

[2019-11-17 09:39] #26 closed

[2019-11-17 09:39] #38 closed

[2019-11-17 09:39] #54 closed

[2019-11-17 09:39] #65 closed

[2019-11-17 09:39] #108 closed

[2019-11-17 09:39] #119 closed

[2019-11-17 09:39] #122 closed

[2019-11-17 09:41] #113 closed

[2019-11-21 23:00] cold-logic commented on #88
Semi related to this issue... A nice feature would be the ability to use Facebook's "App Password" feature to sign in, instead of the standard account password + MFA flow.

[2019-11-22 00:28] tomquirk commented on #88
Yea these are all good ideas. I'll look at triaging soon 😄

[2019-12-05 21:13] blandre opened #133 "Only contacts working properly"
### Description

I cannot seem to get anything other than the contacts command to work. I had both fb-messenger-cli and messer installed, but neither of them was working properly. I tried to uninstall (not 100% successfully) and install again (seemed successful). Messer logs in OK, but the only command I get a response is with contacts. Any suggestions on how to do a clean install or to solve this

[2019-12-13 20:24] rasca0027 opened #135 "Cannot send some special characters in lock-on mode"
### Description

### Steps to Reproduce

1. Lock-on a conversation
2. Try to send `!` or `?` or Chinese characters without any English characters in the front

**Expected behavior:** [What you expect to happen]

Message gets sent correctly

**Actual behavior:** [What actually happens]

[code]

### Versions

Run and copy-paste the results of the following:

- npm -v 6.13.0
- node -v 12.10.0
- messe

[2019-12-17 00:10] tomquirk commented on #133
Hey @blandre sorry to hear you're having trouble. The latest vestion of Messer is 0.6.0, so I'd suggest trying to upgrade to this version and see if you have any success. Let us know! Please reopen this issue if you need more assistance

[2019-12-17 00:10] #133 closed

[2019-12-17 00:12] tomquirk commented on #129
I think your approach should be the standard and we shouldn't add this as a configuration option. Your suggestion is what Facebook does so we should mimic that as close as possible 😄

[2019-12-17 00:15] tomquirk commented on #125
Mmm, unfortunately I don't see a way around this. We rely on [this api](https://github.com/Schmavery/facebook-chat-api) so we are bound to whatever they support (which is simply logging in through `facebook.com`) 😢 . I'll add a note to the readme to explain this

[2019-12-17 00:15] #125 closed

[2019-12-17 00:35] tomquirk commented on #125
Relevant change -> https://github.com/mjkaufer/Messer#can-i-use-a-deactivated-facebook-account

[2019-12-17 11:14] #126 closed

[2019-12-17 11:27] tomquirk commented on #111
Closing due to the fact that we don't need this data in order to maximise the Messer experience. It's against the spirit of the project.

[2019-12-17 11:27] #111 closed

[2019-12-17 20:52] wgehalo opened #137 "Messer not displaying incoming messenges."
### Description

I have tested it on the command prompt, and ps core 6 inside of windows 10's new terminal.

### Steps to Reproduce

1. Install messer following the guide.
2. Login.
3. Have friend send you message.

**Expected behavior:** [What you expect to happen]
Incoming message should display.

**Actual behavior:** [What actually happens]
Incoming message does not display.

### Versions

Run

[2019-12-22 11:08] tomquirk commented on #137
Thanks for reporting this @wgehalo, it looks like it could be related to [this issue report on the api we use](https://github.com/Schmavery/facebook-chat-api/issues/763), but I'll check it out.

[2019-12-25 08:31] michondr commented on #137
this bug seems to be critical, the same problem has inpact on fb-messenger-cli issued here
https://github.com/Alex-Rose/fb-messenger-cli/issues/220

[2020-01-19 08:37] Nemesis77swe opened #138 "Getting only errors (when I'm logged in)"
I've encountered only errors with this app.
First I had issues with logging in, but when I changed to a less complicated password (without }\{€`•{°•××`>chars) I got in, but now I'm only getting errors..

`Logging in...
Successfully logged in as Jonas Larsson

(node:2627) UnhandledPromiseRejectionWarning: TypeError: _repl.clearBufferedCommand is not a function
    at Object.log (/usr/local/lib/node

[2020-01-20 14:41] Nemesis77swe commented on #138
The issue has actually solved it "self", I installed puppeteer and it's dependencies, and after that I was just going to test messenger before uninstalling it, but then it worked..
I can't specify exactly which stuff that was added, because it was a lot of stuff..

[2020-01-20 14:41] #138 closed

[2020-01-21 10:33] Nemesis77swe commented on #138
A little post op notice, it apparently needed node 10.x, and I only had 8.x installed, maybe should be added as dependency..

[2020-01-22 03:34] Nemesis77swe opened #139 "Login via one-liner"
## Summary
Give user the possibility to pass along the username and password with the "one-liner" command function..

## Motivation
The reason for this is to simplify batch/script function to send messages.

When running a server, and want to use the chat to send information about the server.

Then messenger is requiring Username and password, since the server is often running under another user o

[2020-02-21 20:16] nagycsenge opened #140 "A"
## Summary

## Motivation

[2020-03-04 07:12] younlok opened #141 "failed to login"
### Description

i installed it and when i run it and enter my details i get error

**Expected behavior:** [What you expect to happen]
i expected it to run
**Actual behavior:** [What actually happens]
Failed to login: Error inside first pull request. Received HTML instead of JSON. Logging in inside a browser might help fix this.

### Versions

- npm -v
6.13.6

- node -v
v12.13.0
- messer -v
0.7.1

[2020-03-04 16:24] wolfiex commented on #141
Replicated

[2020-03-04 23:08] tomquirk commented on #141
@younlok thanks for raising this 🙏

Whats the error you're getting? How does Messer behave specifically?

[2020-03-04 23:08] #140 closed

[2020-03-04 23:14] wolfiex commented on #141
The phrase:

as well as obviously failing to log on. One of the other facebook clis also has an issue recently, so I wonder if Facebook themselves have changed something.

[2020-03-04 23:25] tomquirk commented on #141
Oh damn, haha. Thanks for clarifying.

Issue has been raised in the API we use: https://github.com/Schmavery/facebook-chat-api/issues/794. I will follow and update you all here... thanks for you patience 👌

[2020-03-05 06:00] younlok commented on #141
i think this is because the 2fa maybe ??

[2020-03-05 06:13] tomquirk commented on #141
Can I suggest you all try running:

[code]

Someone on one of those issues suggested clearing some state might fix issues...

[2020-03-05 09:19] younlok commented on #141
worked

[2020-03-10 06:21] #141 closed

[2020-03-18 10:45] jamie-emb commented on #141
I have the same issue, attempted the fix you suggested and still get the same error

[2020-03-18 10:50] jamie-emb opened #144 "Failed to Login"
### Description

Run messer and enter login credentials - error is returned.

### Steps to Reproduce

1. Install messer
2. Run messer
3. Enter credentials

**Expected behavior:**
Login to be successful and app to run

**Actual behavior:**
Error message is returned after entering credentials

### Versions

Run and copy-paste the results of the following:

- npm -v
**6.13.4**
- node -v
**v12.16.1**

[2020-03-21 13:42] Omikron9292 commented on #144
Same issue occurs to me.
npm -v
6.13.4
node -v
v12.16.1
messer -v
0.7.1
OS ver
**Windows 10 Pro**
Issue remains the same after running messer cleanup

[2020-03-24 10:33] harkairt opened #145 "'h' does not work"
### Description

### Steps to Reproduce

1. Login
2. type `h "user"`

**Expected behavior:**
Message to be sent

**Actual behavior:**
`Invalid command - check your syntax`

### Versions

npm: 6.14.0
node: 10.16.3
messer: 0.7.1

running on MacOS, zsh shell.

`history "user"` works properly

[2020-03-31 17:08] shekoufepourkan commented on #44
I had this Problem too. But i solved it. how? =D with this Way: Your json file is probably your code's folder. Move the code to another folder and redirect it.

[2020-04-08 09:05] Ryjekk commented on #137
I have still same issue

npm: 6.13.1
node: v13.3.0
messer: 0.7.1

macOS Catalina 10.15.4

[2020-04-12 23:15] jcguu95 opened #147 "Backup chat history"
## Summary

Back up chat history of a friend in plain text by `backup friend1 friend2... friendx [--init init-date] [--end end-date]`.

## Motivation

It's much easier to navigate through your chat history with a friend once it's output as a plain text. I will never have to go back to Facebook's sh***y GUI if this is implemented.

[2020-04-12 23:18] jcguu95 opened #148 "Quick search through all friends"
## Summary

` search friend --regex ^[Aa]lexa*` gives

Alexandre Miljoe
Alexandra John
alexa

## Motivation

I have 1000+ friends. They might not use their real name on Facebook, or at least their not in canonical forms. Being able to search through friend list by filtering/regex.. much enhances the using experience.

[2020-04-14 12:33] tomquirk commented on #144
One other thing I would try is logging out and into Facebook in the browser to double-check you're not being locked out.

I don't think that's the issue though, so might need some more investigation

[2020-04-24 05:18] rosie77 opened #149 "Recover messages"
## Summary

Help me solve my own problems
## Motivation
Who's my boyfriend I'm a very one woman person

[2020-04-24 05:33] tomquirk commented on #149
@rosie77 is this real? 😂 If yes, could you please expand a little bit?

[2020-04-30 19:43] krinklefingers opened #150 "Commands wont work"
Every time that I try and run a command of anysort (other than log out) I am met with this error:

(node:8320) UnhandledPromiseRejectionWarning: TypeError: _repl.clearBufferedCommand is not a function
    at Object.log (/usr/local/lib/node_modules/messer/src/messer/repl.js:21:9)
    at processCommand.then.catch.err (/usr/local/lib/node_modules/messer/src/messer/index.js:115:20)
    at <anonymous>

[2020-05-01 07:12] ethan-ou commented on #137
Same issue. It looks like it's because of the API changes Facebook made recently to move messenger to using MQTT (a type of messaging protocol like WebSockets).

I had a look at the issues in the facebook-chat-api repo as @tomquirk linked and found the library was depreciating its ```api.listen``` method in favour of ```api.listenMqtt``` (see [issue #786 in facebook-chat-api](https://github.com/Sc

[2020-05-01 10:50] ethan-ou commented on #129
@tomquirk it looks like this could be easily handled in [line 60](https://github.com/mjkaufer/Messer/blob/bb7dca09678b46108f24b3511005b2d37f50fb22/src/event-handlers/message.js#L60) of ```./event-handlers/message.js``` if we replace the line with ```notifyTerminal(new Set(messer.state.threads.unreadThreadIds).size);```.

Are there other considerations I should be aware of?

[2020-05-01 10:55] tomquirk commented on #129
I think that would do it! Not sure if you even need the Set, although I could be wrong (may have duplicate ids in there). Happy to accept a PR!

[2020-05-01 11:21] ethan-ou commented on #129
My understanding is that ```messer.state.threads.unreadThreadIds``` contains duplicate id's if a user sends more than one message. Turning it into a set would give you the number of users whose messages you haven't read, hopefully fulfilling the issue @TwoLeaves had.

I'll submit a PR soon!

[2020-05-01 14:02] ethan-ou opened #152 "Options to disable "sent message" confirmation"
After using Messer for a little bit, I'm finding that for extended use the "Sent message to <user>" dialog can make conversations hard to read. In locked mode for instance, every second message would include the confirmation, which makes following the conversation tricky.

On the other hand, I see it's really useful for someone who's just getting started with Messer to understand what's going on.

[2020-05-02 00:02] TwoLeaves commented on #129
Thanks folks, much appreciated!

[2020-05-04 06:20] #129 closed

[2020-06-01 22:40] #137 closed

[2020-06-02 06:32] ethan-ou commented on #135
This seems to be because at `src/messer/src/index.js`, at [line 159](https://github.com/mjkaufer/Messer/blob/91892b26f7f2965d263dc3e2f9ebe785a8194ad0/src/messer/index.js#L159), the regex only matches when a message starts with a letter.

Original code:
[code]

We can potentially fix this by matching with a different regex once the user is in locked mode.

[code]

[2020-06-02 07:40] tomquirk commented on #135
@ethan-ou great idea! I like it and I think it will work well. I'll happily review/merge a PR for this

[2020-06-18 21:38] krunoPeric opened #155 "UnhandledPromiseRejectionWarning"
### Description

### Steps to Reproduce

1. `$ sudo apt install npm`
2.  `$ sudo npm install -g messer`
3. `$ messer`
4. now login using your facebook account credentials (the login works successfully)
5. `> contacts`

**Expected behavior:**

Contact list is printed.

**Actual behavior:**

the following error is the output:

    at Object.log (/usr/local/lib/node_modules/messer/src/messer/repl.js:

[2020-06-18 22:56] krunoPeric commented on #150
I also have this issue.  Here's some more information on what I'm seeing:

### Steps to Reproduce

1. `$ sudo apt install npm`
2.  `$ sudo npm install -g messer`
3. `$ messer`
4. now login using your facebook account credentials (the login works successfully)
5. `> contacts`

**Expected behavior:**

Contact list is printed.

**Actual behavior:**

the following error is the output:

    at Object.l

[2020-06-18 22:56] #155 closed

[2020-06-18 22:57] krunoPeric commented on #155
This is a duplicate of issue #150 so I closed it.

[2020-06-18 23:14] tomquirk commented on #150
Thanks for reporting @krunoPeric. I suspect it's because you're running node@8.10 and `clearBufferedCommand` wasn't supported then. @krinklefingers, I would be interested in your node version as well!

We will have to test every node version to determine what we support, and then make a note of this in the documentation 👍

[2020-06-18 23:46] krunoPeric commented on #150
Thanks for the prompt response!  I uninstalled node and installed the lastest LTS binaries:

* node -v: `v12.18.1`

*it's working now :)*

[2020-06-19 00:05] tomquirk commented on #150
@krunoPeric nice! I'm running node 12 as well. I think given node 12 is LTS, we are fine to note this in the readme. I'll go and do just that!

[2020-06-19 00:12] tomquirk commented on #150
Done! https://github.com/mjkaufer/Messer/releases/tag/v0.7.3

[2020-06-19 00:12] #150 closed

[2020-06-19 22:43] krunoPeric commented on #91
Similarly, I've been getting locked out of FB and see this error message when i try to login to FB:

![image](https://user-images.githubusercontent.com/13294525/85184137-4736eb80-b254-11ea-977d-99a76d5f60fd.png)

I just turned on 2FA so fingers crossed :crossed_fingers:

Thanks for making this nice bug report!  It looks *crisp*

[2020-06-20 01:56] krunoPeric opened #156 "What does the setting SHOW_TYPING do?"
## Summary

## Motivation

## Additional note

I might not be understanding what those settings are supposed to do.  Not sure if this is a bug or a feature request...

[2020-06-20 02:43] krunoPeric opened #157 "Time Stamp"
## Summary

## Motivation

[2020-06-21 00:44] tomquirk commented on #156
@krunoPeric

- `SHOW_TYPING` currently does nothing. The intention is that it will show the user your are typing to, that you are indeed typing (e.g. `krunoPeric is typing...`, in the FB UI)
- `SHOW_READ` shows marks messages sent to you as READ when you use the `clear` command (see [the docs](https://github.com/mjkaufer/Messer#supported-settings))

[2020-06-21 00:44] #156 closed

[2020-06-21 10:49] #135 closed

[2020-06-21 11:11] #145 closed

[2020-07-19 07:41] michondr commented on #157
+1.

this is great feature, would be great to enable/dissable in options

[2020-07-19 07:54] michondr commented on #81
on ubuntu you can produce notification by calling `notify-send "title" "body"`

![image](https://user-images.githubusercontent.com/29277166/87870136-ac8e1180-c9a5-11ea-85c1-bdbb38727fab.png)

not sure how this works on other distros (or win/mac) though

[2020-07-19 08:07] michondr commented on #72
hey, this is an awesome feature, I can have one terminal locked to each person I want.

however, why are shown messages from other people? am I using the feature as intended?

on the left, `Esk8 Prague riders crew` is locked, on the right `Petra Červená` is locked. whoever incoming messages are shown in both the terminal windows. it's a bit messy after a while

![image](https://user-images.githubu

[2020-07-24 10:14] ChristianPyth opened #160 "[DEB0018] Error"
### Description

Logging in...
Successfully logged in as *censored*

(node:3552) UnhandledPromiseRejectionWarning: TypeError: _repl.clearBufferedCommand is not a function
    at Object.log (/usr/local/lib/node_modules/messer/src/messer/repl.js:21:9)
    at processCommand.then.catch.err (/usr/local/lib/node_modules/messer/src/messer/index.js:115:20)
    at <anonymous>
    at runMicrotasksCallback (

[2020-07-24 11:30] trfd commented on #160
I get the exact same error on Windows 10 for any messer command.
I tried it from a new clean install.
Configuration
* Windows 10 (1903)
* npm -v 5.6.0
* node -v v8.9.4
* messer -v 0.7.3

[2020-07-29 04:26] DanielEliasib commented on #91
I know this is old but i got something similar today, this time facebook locked me out of my account and showed me that someone was trying to login from MacOs (which is no my operating system) and from a different ip than mine, it was just after login into messer, is this expected behavior? Why facebook thinks I'm trying to connect from different ip and OS?

[2020-08-21 21:06] Nihilish opened #161 "Non-interactive mode using bash variables"
I'm using messer in a server script, and I need to be able to send one of the script variables in the sent message. This is not possible however because the command is in single quotes and replacing the command with for instance "message 'group' $var" returns a syntax error

[2020-09-01 09:53] nagylilla96 opened #163 "Two factor authentication"
## Summary

Two factor authentication is not working - or if it is, it should be added to the readme.

## Motivation

When using two factor authentication, I get a prompt saying Enter code, but I don't receive any message on my phone, so how is this feature supposed to be working? If it's not implemented yet, I think it should be added to the project readme, or if it's already implemented, a few i

[2020-09-01 09:58] nagylilla96 commented on #163
I saw this issue here https://github.com/mjkaufer/Messer/issues/16 but it mentions reading the readme file, and I can't see any relevant information about 2FA there :(

[2020-09-01 10:27] nagylilla96 commented on #163
For the moment, I turned off 2FA, logged in using messer, then turned it back on - I wonder if this will be a long-term solution or not, I'll come back with updates

[2020-09-02 04:52] w4-jonghoon commented on #144
I got the same issue.
Also, I tried to @tomquirk 's suggestion - log out and re-log in in the browser,
but those process is proceeded as normally.
If you share how to turn on the log, I can help your investigation.
[code]

[2020-09-02 05:03] w4-jonghoon commented on #144
I got some hint.
From the another terminal in the same machine, I found another session already logged in.
So, after I logout from that session, I can correctly log in.
Please check out that you don't have another session in the other terminal.

[2020-10-10 18:27] tpargmdiaz commented on #91
Hi,  I have just installed messer but I am unable to login and I get message below:

Failed to login: Wrong username/password.

Checked credentials on the browser and they are ok.

[2020-10-20 09:37] WarenGonzaga commented on #163
@nagylilla96 I guess that's hassle because... when you turn off your 2FA you will setup it again and again whenever you stop using this messer. I guess app password would work which is doesn't require any 2FA

[2020-10-28 16:52] Dnick421 opened #164 "Can't find where the creditentials e.g. log in stored"
Anyone know the directories?

[2020-11-09 16:22] kris1010 commented on #163
I have the same problem, but I can't log in even after I turned off 2FA, are there any extra steps?

[2020-11-17 19:38] gileswells commented on #163
I'm not seeing app passwords working for me

[2020-11-18 04:32] WarenGonzaga commented on #163
@gileswells I tried it .... seems I agree it doesn't work even you use app passowrds.

[2020-11-19 15:15] Ravichandra-C commented on #157
Hi All,

I would like to work on this.

Question Regarding the feature

@krunoPeric @michondr @tomquirk

Should I just add timestamp to the messages shown in history command?

Will this format be good?

[<timestamp>] <User name>:<Message>

for example

[11/17/2020, 4:29:30 PM] Ravichandra:Hi

[2020-11-20 08:34] michondr commented on #157
toLocaleString should return output most suitable for the user. if you want to make it fancier, you could enable the user to set the format himself

[2020-11-20 10:49] Ravichandra-C commented on #157
Can I send the pull request with toLocaleString?

[2020-11-20 11:49] tomquirk commented on #164
Should be in `~/.messer/` directory: https://github.com/mjkaufer/Messer/blob/master/config/index.js

[2020-11-20 11:49] #164 closed

[2020-11-20 11:50] tomquirk commented on #157
Yep, this looks great @Ravichandra-C.

[2020-11-21 09:20] Ravichandra-C commented on #157
Added this featre as part of #165 pull request.

Can you please merge it if the changes are sufficient? If not, Can you please let me know what else needs to be done?

[2020-11-22 04:08] samueldy commented on #161
As an aside, is there a possibility of running messer in a client-daemon architecture, so that each single-command use of messer doesn't do a new login every time (and thus lowers the probability of an account getting blocked)?

[2020-11-22 04:40] samueldy commented on #148
Agree, would be very nice to be able to do this within the app. Piping the output of `messer --command='contacts'` to grep would require a login each time it's done.

[2020-11-22 12:01] jcguu95 commented on #148
Or one that supports fuzzy "frecency" (frequency and recency) search.. that might be too much to ask :S

[2020-11-27 13:40] Ravichandra-C opened #166 "How safe is it to use Messer?"
Hi Team,

I'm planning to use Messer with my personal facebook id, but I'm not sure how safe it is to give password/user name to Messer.Main reason is because I'm not understanding how messer is actually working. Can someone please let me know how safe it is to use Messer?

[2020-12-02 21:24] jng-cmd opened #167 "Is it possible to stay logged in without having to login each time via the non-interactive command?"
I am using the non-interactive mode and noticed that it logs in for each command, i was wondering if there was a way to stay logged in so when i run something like messer --command 'm "user" message' it doesnt need to login first?

[2021-01-19 04:53] tomquirk commented on #166
Hey @Ravichandra-C - see README for what happens to your username and password: https://github.com/mjkaufer/Messer#do-you-store-any-of-my-data

In short, your username and password are never stored anywhere. You are authenticated with Facebook using this library: https://github.com/Schmavery/facebook-chat-api.

We _do_ store your "appState", which includes some kind of auth token that is used to a

[2021-01-19 04:53] #166 closed

[2021-02-05 23:15] allanlaal commented on #167
perhaps .netrc support can be added?

[2021-02-25 13:00] brokenhero000 opened #171 "Failed to log in"
I have installed messer and it seems to work fine, but, whenever I type in my credentials, an error is returned, stating "Failed to login: Wrong username/password." Even though I have copy-pasted my credentials and then double-checked several times whether they are correct or not, my credentials are 100% correct. And yet, I get an error stating that my username/password is wrong.
I don't know if t

[2021-02-25 15:19] isene commented on #171
Just installed messer, get the same. I have verified in several ways that my credentials are correct, but still get "Failed to login: Wrong username/password".

* npm -v 7.5.6
* node -v 10.19.0
* messer -v 0.7.3

[2021-02-25 18:46] jimrs commented on #171
Same, just installed on macOS Mojave 10.14.6.

- npm -v 7.0.10
- node -v 15.2.1
- messer -v 0.7.3

[2021-02-27 09:45] MarouenTouati commented on #171
Same problem for me, It doesn't seem to work anymore :'(

[2021-02-28 22:49] samueldy commented on #171
Same for me; just reinstalled Messer with these versions:
- npm -v 6.14.11
- node -v v15.10.0
- npx messer -v 0.7.3

[2021-03-03 17:54] ghost commented on #171
For those wondering, it is an issue with the facebook-chat-api that this app uses. They have not made a new login function, but i think they have found a workaround at the[ original issue](https://github.com/Schmavery/facebook-chat-api/issues/867) on that repo.

[2021-03-10 10:23] jimrs commented on #171
Thank you for the info, but in the link you provided I see a lot of text and maybe underneath all that a very complicated solution.

Will someone be able to write up a detailed guide for those of us less technically able? I'm sure I wouldn't be the only one who would be very grateful.

[2021-04-04 04:32] voidfemme commented on #171
I'm having the exact same issue.
npm -v 7.8.0
node -v v15.13.0
npx messer -v 0.7.3

[2021-04-04 05:32] Timbological commented on #171
I managed to get it work by getting the appstate.json with a different user Agent like in [this issue](https://github.com/Schmavery/facebook-chat-api/issues/836).

The steps were:

1. Save this as getappstate.js:
[code]
replacing [EMAIL] and [PASSWORD] with your facebook email and password

2. run node getappstate.js (you may have to npm install facebook-chat-api as well)
3. appstate.json should a

[2021-04-18 04:19] samueldy commented on #171
Can also confirm that this workaround allows Messer to start (I get the "Successfully logged in as <my_name>" message), but cannot actually user Messer. I was able to run the `recent` command and see my five most recent threads, but could not list any history with the `history` command. I was then locked out of my account and had to do account recovery.

[2021-05-22 05:24] Nemesis77swe commented on #171
.. still the same issue, is this now an abandonware?

[2021-05-24 02:33] tomquirk commented on #171
I'll look into this today.

Keep in mind that this is an open source project. @Timbological looks like they came up with a fix (https://github.com/mjkaufer/Messer/issues/171#issuecomment-812976533) - anyone is able to create a PR that implements this 🤷

[2021-05-26 07:23] tomquirk commented on #171
It turns out that this probably isn't fixable. There appears to be a bunch of upstream issues with https://github.com/Schmavery/facebook-chat-api which I don't have the time/energy to investigate further.

If anyone is willing and able to provide fixes, I'll happily review and merge them 👋

[2021-05-26 07:42] ghost commented on #171
https://github.com/Schmavery/facebook-chat-api/issues/870#issuecomment-840760384

This comment here provids a script that should help some of you get around the issue.

Also, there is another repo that is less featurerich, that is being maintained that was mentioned in one of the threads of the upstream API: https://github.com/makiprogrammer/ts-messenger-api

[2021-11-30 18:05] 0anubis0 commented on #171
The following have worked for me:

1) download https://github.com/shellmage/AAAAAAAAAAAAA/blob/main/getAppstate.js
2) modify email and password parameter
3) instert the highlighted code into there: (a new popup to accept privacy what wasnt handled)
const navigationPromise = page.waitForNavigation({waitUntil: 'networkidle0'});
**await page.click('button[data-testid="cookie-policy-dialog-accept-butt

[2021-12-01 08:46] isene commented on #171
With this procedure I get this:

(node:1622313) UnhandledPromiseRejectionWarning: Error: No node found for selector: button[data-testid="cookie-policy-dialog-accept-button"]
    at assert (/home/geir/node_modules/puppeteer/lib/cjs/puppeteer/common/assert.js:26:15)
    at DOMWorld.click (/home/geir/node_modules/puppeteer/lib/cjs/puppeteer/common/DOMWorld.js:285:32)
    at process._tickCallback (int

[2022-07-03 03:56] junreyvi69 commented on #171
Worked for me, except I didn't insert
`await page.click('button[data-testid="cookie-policy-dialog-accept-button"]');`
and I had to login first via browser to verify the new browser.

NOTE: You need run `node getAppstate.js` multiple times until you get a notification on facebook for verification/authentication of the new browser.

[2022-07-09 22:29] deMehlem opened #177 "Can not login to account that has 2FA"
### Description

### Steps to Reproduce

1. lunch messer
2. try logging to 2FA secured account

**Expected behavior:** I expected to login to my account and use messer to msg my friends

**Actual behavior:** program exits it self

### Versions

Run and copy-paste the results of the following:

~
❯ npm -v
8.1.2

~
❯ node -v
v16.13.1

~
❯ messer -v
0.7.3

~
❯

Also, please include the OS and what ve

[2022-07-09 22:33] KKQC commented on #177
Logging in...
Enter your Facebook credentials - your password will not be visible as you type it in
prompt: email:  aleksander.de.mehlem@gmail.com
prompt: password:  ***************

Failed to login: Wrong username/password.

[2022-07-09 22:33] deMehlem commented on #177
Logging in...
Enter your Facebook credentials - your password will not be visible as you type it in
prompt: email:  <mail>@gmail.com
prompt: password:  ***************

Failed to login: Wrong username/password.